*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: rgb(23, 149, 191);
    padding: 4px;
}

header>a {
    text-decoration: none;
    color: white;
    font-size: 3rem;
    font-weight: bold;
}

nav {
    flex: 1;
    
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: white;

}
nav a:hover {
    text-decoration: underline yellow;
}